{% extends 'base.html' %}

{% block title %}
    Projects List
{% endblock %}

{% block content %}
    <h1 class="text-center mb-4"> Projects App </h1>
{% if project_list %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Profile Image</th>
                </tr>
            </thead>
            <tbody>
                {% for projects in project_list%}
                <tr>
                    <td>{{projects.user_fname}}</td>
                    <td>{{projects.user_lname}}</td>
                    <td>{{projects.user_email}}</td>
                    <td class="text-center"><img src="media/{{projects.user_image}}" alt="userimage" width="50" height="50" class="rounded circle"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>
{% endif %}    
{% endblock %}