<nav class="nav-fill nav-light bg-dark mb-4 py-2">
    <div class="contrainer">
        <ul class="nav nav-pill">
            <li class="nav-item">
                <a href="/cmsmain" class="nav-link red">Projects</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'cmsmain:add' %}" class="nav-link">Add New</a>
            </li>
            <li class="nav-item">
                <a href=""class="nav-link">Login</a>
            </li>

        </ul>
    </div>
</nav>